<h1 class="card-link text-info"><%= @post.title %></h1>
<h4>Posted by: <i class="fas fa-user"></i> <%= @post.user.username %> </h4>
<p><%= @post.created_at.strftime("%d/%m/%Y at %I:%M%p") %></p>
<h3><a href="<%= @post.url %>" class="card-link text-info">Read post here</a></h3>

<div class="d-flex">
  <form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="UPDATE">
    <button type="submit" class="btn btn-outline-info mr-3">
      <i class="far fa-thumbs-up"><%= @post.votes %></i>
    </button>
  </form>

  <form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Post" class="btn btn-outline-danger mr-3">
  </form>
</div>

<a href='/'>
  <h2 class="card-link text-info my-3">
    <i class="fas fa-arrow-circle-left"></i>
  </h2>
</a>
